<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" src="/public/user-assets/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Shop bán giày dép</title>

    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="/public/user-assets/css/linearicons.css">
    <link rel="stylesheet" href="/public/user-assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/public/user-assets/css/themify-icons.css">
    <link rel="stylesheet" href="/public/user-assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/user-assets/css/nice-select.css">
    <link rel="stylesheet" href="/public/user-assets/css/nouislider.min.css">
    <link rel="stylesheet" href="/public/user-assets/css/bootstrap.css">
    <link rel="stylesheet" href="/public/user-assets/css/main.css">
</head>

<body>

<!-- Start Header Area -->
<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div
                class="collapse navbar-collapse offset"
                id="navbarSupportedContent"
              >
              <a class="navbar-brand logo_h" href="index.html"
                      ><b>HTL Store</b></a
                    >
                <ul class="nav navbar-nav menu_nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="index.html">Trang chủ</a>
                  </li>
                  <!-- <li class="nav-item submenu dropdown">
                              <a href="/public/user-assets/category/Nam/Boots/Boots.html" class="nav-link dropdown-toggle" role="button" aria-haspopup="true"
                                 aria-expanded="false">Nam</a>
                              <ul class="dropdown-menu">
                                  <li class="nav-item"><a class="nav-link" href="/public/user-assets/category/Nam/Boots/Boots.html">Giày cầu l</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/public/user-assets/category/Nam/Sandal/Sandal.html">Áo cầu lông</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/public/user-assets/category/Nam/SportShoe/SportShoe.html">Quần cầu lông</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/public/user-assets/category/Nam/RunningShoes/Runn1.html">Giày chạy bộ</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/public/user-assets/category/Nam/SoccerShoes/Socc1.html">Giày đá banh</a></li>
                              </ul>
                          </li>
                          <li class="nav-item submenu dropdown ">
                              <a href="/public/user-assets/category/Nu/Boots/Boots1.html" class="nav-link dropdown-toggle" role="button" aria-haspopup="true"
                                 aria-expanded="false">Nữ</a>
                              <ul class="dropdown-menu">
                                  <li class="nav-item "><a class="nav-link" href="/public/user-assets/category/Nu/Boots/Boots1.html">Boots</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/public/user-assets/category/Nu/Sandal/Sandal-01.html">Sandal</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/public/user-assets/category/Nu/SportShoes/SportShoe-01.html">Giày thể thao</a></li>
                                  <li class="nav-item"><a class="nav-link" href="/public/user-assets/category/Nu/RunningShoes/RunningShoes-01.html">Giày chạy bộ - đi bộ</a></li>
      
                              </ul>
                          </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="products.html">Sản phẩm</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Liên hệ</a>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <!--            <li class="nav-item"><a href="login.html" class="cart" id="cart"><span class="ti-bag"></span></a></li>-->
                  <li id="cartBtn" class="hidden">
                    <a class="nav-link" href="#" id="cart"
                      ><i
                        class="ti-bag"
                      ></i
                      ></a>
                  </li>
                  <li class="nav-item">
                    <button class="search">
                      <span class="lnr lnr-magnifier" id="search"></span>
                    </button>
                  </li>
                  <li class="nav-item hidden" id ="profileBtn">
                    <a href="profile.html" class="cart"
                      ><span id="username" class="mr-2"></span></span
                    ></a>
                  </li>
                  <li class="nav-item hidden" id="logoutBtn">
                    <a href="index.html" class="cart"
                      ><span class="mr-2"></span><span class="fa fa-sign-out"></span
                    ></a>
                  </li>
                  <li class="nav-item" id ="loginBtn">
                    <a href="login.html" class="cart"
                      ><span class="mr-2"> Đăng nhập</span><span class="ti-user"></span
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>

    <div class="search_input" id="search_input_box">
        <div class="container">
            <form class="d-flex justify-content-between">
                <input type="text" class="form-control" id="search_input" placeholder="Tìm kiếm">
                <button type="submit" class="btn"></button>
                <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
            </form>
        </div>
    </div>

</header>
<!-- End Header Area -->
<!-- back to top button-->
<a href="#" class="cd-top">Back To Top</a>
<!--End Back to top button-->

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Thanh toán</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="checkout.html">Thanh toán</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
<!--        <div class="check_title">-->
<!--            <h2>Returning Customer? <a href="login.html">Click here to login</a></h2>-->
<!--        </div>-->

<!--        <div class="cupon_area">-->
<!--            <div class="check_title">-->
<!--                <h2>Have a coupon? <a href="#">Click here to enter your code</a></h2>-->
<!--            </div>-->
<!--            <input type="text" placeholder="Enter coupon code">-->
<!--            <a class="tp_btn" href="#">Apply Coupon</a>-->
<!--        </div>-->
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Chi tiết hóa đơn</h3>
                    <form class="row contact_form" action="#" method="post" novalidate="novalidate" id="checkoutForm">
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="fullName" name="name" placeholder="" disabled>
                            <p class="form-message"></p>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="phoneNumber" name="phone" placeholder="" disabled>
                            <p class="form-message"></p>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="email" name="email" placeholder="" disabled>
                            <p class="form-message"></p>
                        </div>

                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="address" name="address" placeholder="" disabled>
                            <p class="form-message"></p>
                        </div>

<!--                        <div class="col-md-12 form-group">-->
<!--                            <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP">-->
<!--                        </div>-->
<!--                        <div class="col-md-12 form-group">-->
<!--                            <div class="creat_account">-->
<!--                                <input type="checkbox" id="f-option2" name="selector">-->
<!--                                <label for="f-option2">Create an account?</label>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <h3>Ghi chú đơn hàng</h3>
<!--                                <input type="checkbox" id="f-option3" name="selector">-->
<!--                                <label for="f-option3">Ship to a different address?</label>-->
                            </div>
                            <textarea class="form-control" name="message" id="message" rows="1" placeholder="Ghi chú"></textarea>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Đơn hàng của bạn</h2>
                        <ul id="product-list" class="list">
                        </ul>
                        <ul class="list list_2">
                            <li><a href="#">Tổng cộng <span id="totalAmount"></span></a></li>
                            <!-- <li><a href="#">Phí Ship <span>20.000đ</span></a></li>
                            <li><a href="#">Tổng cộng <span>1.999.000đ</span></a></li> -->
                        </ul>
                        <div class="payment_item">
                            <div class="radion_btn">
                                <input type="radio" id="f-option5" name="selector">
                                <label for="f-option5">Trả tiền mặt</label>
                                <div class="check"></div>
                            </div>
<!--                            <p>Please send a check to Store Name, Store Street, Store Town, Store State / County,-->
<!--                                Store Postcode.</p>-->
                        </div>
                        <div class="payment_item active">
                            <div class="radion_btn">
                                <input type="radio" id="f-option6" name="selector">
                                <label for="f-option6">Trả thẻ </label>
                                <img src="/public/assets/img/product/card.jpg" alt="">
                                <div class="check"></div>
                            </div>
<!--                            <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal-->
<!--                                account.</p>-->
                        </div>
                        <div class="creat_account">
                            <input type="checkbox" id="f-option4" name="selector">
                            <label for="f-option4">Tôi đã đọc và chấp nhận </label>
                            <a href="#">mọi điều khoản*</a>
                        </div>
                        <a onclick="checkout(event)" id="confirmBtn" class="primary-btn" href="#">Xác nhận</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->

<!-- start footer Area -->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Theo dõi chúng tôi trên các nền tảng</h6>
                    <p></p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                    <div class="single-footer-widget">
                        <a href="contact.html"><h6>Về chúng tôi</h6></a>
                        <p>Số điện thoại: 0789123456</p>
                        <p>Email: support@shoeshop.com</p>
                        <p>Địa chỉ: khu phố 6, phường Linh Trung, quận Thủ Đức, thành phố Hồ Chí Minh</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->

<!--Modal-->
<div class="modal fade" id="cart1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Giỏ hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="show-cart table">

                </table>
                <div>Tổng tiền: <span class="total-cart"></span>.000đ</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a  href="cart.html"><button type="button" class="btn btn-primary" style="background-color: #ffba00">Thanh toán</button></a>
            </div>
        </div>
    </div>
</div>

<!--java script -->
<script src="/public/user-assets/js/vendor/jquery-2.2.4.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
      integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"
    ></script>
    <script src="/public/user-assets/js/vendor/bootstrap.min.js"></script>
    <script src="/public/user-assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="/public/user-assets/js/jquery.nice-select.min.js"></script>
    <script src="/public/user-assets/js/jquery.sticky.js"></script>
    <script src="/public/user-assets/js/nouislider.min.js"></script>
    <script src="/public/user-assets/js/countdown.js"></script>
    <script src="/public/user-assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/public/user-assets/js/owl.carousel.min.js"></script>

    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="/public/user-assets/js/gmaps.min.js"></script>
    <script src="/public/user-assets/js/main.js"></script>
    <script src="/public/user-assets/js/checkout.js"></script>
    <script>
      // Kiểm tra xem người dùng đã đăng nhập chưa
      const loginBtn = document.getElementById('loginBtn');
      const logoutBtn = document.getElementById('logoutBtn');
      const profileBtn = document.getElementById('profileBtn');
      const cartBtn = document.getElementById('cartBtn');
      const token = localStorage.getItem('token');
        if (!token) {
            // window.location.href = '/';
        } else {
            loginBtn.classList.add('hidden')
            logoutBtn.classList.remove('hidden')
            profileBtn.classList.remove('hidden')
            cartBtn.classList.remove('hidden')
            const user = JSON.parse(localStorage.getItem('user'));
            document.getElementById('username').textContent = 'Xin chào, ' + user.fullName;
        }
        logoutBtn.addEventListener('click', logout);
        function logout() {
            localStorage.removeItem('token');
            localStorage.removeItem('user');
        }
        function buyNow(event){
          event.preventDefault();
          const token = localStorage.getItem('token');
          if(!token){
            window.location.href = './login.html'
          }
          else{
            window.location.href = './products.html'
          }
        }
    </script>

<script>
    Validator({
        form: '#checkoutForm',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired('#first', 'Vui lòng nhập họ của bạn.'),
            Validator.isRequired('#last', 'Vui lòng nhập tên của bạn.'),
            Validator.isEmail('#email'),
            Validator.isRequired('#phone', 'Vui lòng nhập số điện thoại của bạn.'),
            Validator.isRequired('#address', 'Vui lòng nhập địa chỉ của bạn.'),
        ],
        onSubmit: function (data) {
            // Call API
            console.log(data);
        }
    });
</script>
</body>

</html>